.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.username {
  font-weight: 600;
  margin-right: 39vw;
  letter-spacing: 0.02rem;
}

.button {
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: 0.75rem;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-weight: 600;
  padding: 0.65rem 1.1rem;
  text-align: center;
  letter-spacing: 0.02rem;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  background-color: #374151;
}

.button:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.username_styled {
  font-style: italic;
}
